In [ ]:
import imgkit
import glob

files = glob.glob("/Users/xalmax/phd/datasets/ECC_PARSED/**/"+ "*.png", recursive=True)
len(files)

In [ ]:
for file in files:
    
    with open(file, "r") as f:
        html_string = f.read()
        
    save_path = file.replace("html", "png")
    imgkit.from_string(html_string, save_path, options={'quiet':'', "width": 1000, "height":800})

In [2]:
import pandas as pd

df = pd.DataFrame({"one":[0.838,0.944,0.891,0.871,0.795,0.692], "two":[0.83,0.94,0.89,0.87,0.79,0.69]})
df

     one   two
0  0.838  0.83
1  0.944  0.94
2  0.891  0.89
3  0.871  0.87
4  0.795  0.79
5  0.692  0.69

In [8]:
df2 = pd.DataFrame({"two":[1,1,1,1,1,1], "one":[0.83,0.94,0.89,0.87,0.79,0.69]})
df2

   two   one
0    1  0.83
1    1  0.94
2    1  0.89
3    1  0.87
4    1  0.79
5    1  0.69

In [5]:
pd.concat((df,df2),)

     one   two  three
0  0.838  0.83    NaN
1  0.944  0.94    NaN
2  0.891  0.89    NaN
3  0.871  0.87    NaN
4  0.795  0.79    NaN
5  0.692  0.69    NaN
0    NaN  1.00   0.83
1    NaN  1.00   0.94
2    NaN  1.00   0.89
3    NaN  1.00   0.87
4    NaN  1.00   0.79
5    NaN  1.00   0.69

In [15]:
pd.concat([df, df2], axis=0, keys=['1', '2']).std(axis=0)

one    0.083494
two    0.104457
dtype: float64

In [5]:
def test(a:int,b:str,c:dict):
    print("lol")


# import required modules 
import inspect 
  
# use signature() 
print(dir(inspect.signature(test)))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '_bind', '_bound_arguments_cls', '_hash_basis', '_parameter_cls', '_parameters', '_return_annotation', 'bind', 'bind_partial', 'empty', 'from_builtin', 'from_callable', 'from_function', 'parameters', 'replace', 'return_annotation']

In [9]:
dir(inspect.signature(test).parameters["a"])

['KEYWORD_ONLY',
 'POSITIONAL_ONLY',
 'POSITIONAL_OR_KEYWORD',
 'VAR_KEYWORD',
 'VAR_POSITIONAL',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_annotation',
 '_default',
 '_kind',
 '_name',
 'annotation',
 'default',
 'empty',
 'kind',
 'name',
 'replace']